<div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">    
        <h1>Follow Us</h1>
        <div class="btn-group sizee3" >
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>      
      </div>
    </div>
  </div>
  <br><br><br><br>
  <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
              <i class="icon-facebook icon-2x"></i>
              <i class="icon-twitter icon-2x"></i>
              <i class="icon-google-plus icon-2x"></i>
              <i class="icon-pinterest icon-2x"></i>        
          </div>
          <div class="col-sm-6">
              <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
          </div>
        </div>
      </div>
    </footer> 