<div id="masthead" class="dibs">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>LIBRARY
            <p class="lead"></p>
          </h1>
        </div>
      </div> 
    </div>
    <div class="container" id="sizee">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> 
            </div>
          </div>
        </div> 
    </div>
</div>


<div class="container sizee1" >
    <div class="row">  
      <div class="col-md-12">   
        <div class="panel">
          <div class="panel-body" id="sizee4" > 
            <br><br><br>
            <h1>WELCOME TO THE LIBRARY</h1>
            <div id="frm0">
                <h2 style="margin-left: 450px;">login here</h2><br>
            <div (click)="msg()" *ngIf="!ser.loggedIn()" class="hide1" [style.background-color]='bc'>{{msgvalue}}</div><br>
            <form id="frm" (ngSubmit)="signup()" #userlogin="ngForm">
            <label style="padding-left: 400px;" for="" >USERNAME : <input type="text" style="width: 30%;" name="name" id="email" [(ngModel)]="user.username" placeholder="enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required><br><br><br></label><br>
            <label style="padding-left: 400px;" for="">PASSWORD : <input type="password" style="width: 30%;" name="password" id="password" [(ngModel)]="user.userpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required><br><br><br></label><br>
            <input type="submit" value="LOGIN" style="font-family: 'Brush Script MT', cursive; width: 100px; font-size: 25px; margin-left: 520px;" [disabled]="userlogin.form.invalid">
            <a routerLink="/signup" style="color: mediumblue;"><h3 style="padding-left: 400px;">create a new account</h3></a>
            </form>
            </div>
            <br><br><br><br>
          </div>
        </div>
      </div>
    </div>
</div>
      


