
<div id="masthead" class="dibs">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>LIBRARY
            <p class="lead"></p>
          </h1>
        </div>
      </div> 
    </div>
    <div class="container" id="sizee">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> 
            </div>
          </div>
        </div> 
    </div>
</div>


<div class="container sizee1" >
    <div class="row">  
      <div class="col-md-12">   
        <div class="panel">
          <div class="panel-body" id="sizee4" >
            <h4 style="margin-left:200px;"><span class="newadd" ><a routerLink="addbook" style=" font-size: 50PX;  font-family: 'Brush Script MT', cursive;">ADD A BOOK</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="newadd" ><a routerLink="addauth" style="font-size: 50PX;  font-family: 'Brush Script MT', cursive;">ADD A AUTHOR</a></span></h4>    
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
</div>
      


