<div id="masthead" class="dibs">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>LIBRARY
            <p class="lead"></p>
          </h1>
        </div>
      </div> 
    </div>
    <div class="container" id="sizee">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> 
            </div>
          </div>
        </div> 
    </div>
</div>


<div class="container sizee1" >
    <div class="row">  
      <div class="col-md-12">   
        <div class="panel">
          <div class="panel-body">
              <img src="https://www.nysenate.gov/sites/default/files/library_books.jpg" alt="" style="height: 500px; width: 1000px;">
          </div>
        </div>
      </div>
    </div>
</div>
      

